---
const { link, download = false, downloadName = '', tooltipText = '', ariaLabel } = Astro.props;
---

{
  download ? (
    <a
      class="hover:bg-zinc-800 hover:border-zinc-600 border border-transparent p-2 rounded-md transition tooltip tooltip-bottom" data-tip={tooltipText}
      href={link}
      aria-label={ariaLabel}
      download={downloadName}
    >
      <slot />
    </a>
  ) : (
    <a
      class="hover:bg-zinc-800 hover:border-zinc-600 border border-transparent p-2 rounded-md transition tooltip tooltip-bottom" data-tip={tooltipText}
      href={link}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={ariaLabel}
    >
      <slot />
    </a>
  )
}