---
import ProjectCard from "@components/ProjectCard.astro";
import Tailwind from "@assets/icons/tailwind.astro";
import Laravel from "@assets/icons/Laravel.astro";
import Mysql from "@assets/mysql.astro";
import Alpine from "@assets/icons/Alpine.astro";
import SqlServer from "@assets/icons/SqlServer.astro";
import DotNetCore from "@assets/icons/DotNetCore.astro";
import Symfony from "@assets/icons/Symfony.astro";
import Livewire from "@assets/icons/Livewire.astro";
import { Image } from "astro:assets";

import HarmanLogo from "@assets/images/logos/harman.png";
import ImControlLogo from "@assets/images/logos/ImControl.png";
import FMUAQLogo from "@assets/images/FMUAQ.jpeg";
import Talleres from "@assets/images/Talleres_deportivos.png";
import Changarrito from "@assets/images/changarritoFIF.png";
import Next from "@assets/icons/Next.astro";
import Prisma from "@assets/icons/Prisma.astro";
import Typescript from "@assets/typescript.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Proyectos</h2>
  <hr class="mb-6 border-zinc-600" />
  <!-- ! Harman -->
  <ProjectCard
    projectTitle="Datecode Monitoring System"
    projectDescription="Sistema de monitoreo de datecodes del material electrónico, que permite al personal conocer el estado de caducidad en tiempo real."
  >
    <SqlServer size="size-9" />
    <DotNetCore size="size-9" />
    <Symfony size="size-9" />
    <Mysql size="size-9" />
    <Image
      slot="image"
      class="object-contain shadow-xl rounded-lg md:w-52 md:mb-0 bg-white p-2"
      src={HarmanLogo}
      alt="Harman"
    />
  </ProjectCard>

  <!-- ! UAQ - Changarrito -->
  <ProjectCard
    projectTitle="Changarrito FIF"
    projectDescription="Ecommerce para promocionar productos y servicios ofertados por los alumnos de la Facultad de Informática UAQ."
  >
    <Next size="size-9" />
    <Prisma size="size-9" />
    <Typescript size="size-9" />
    <Mysql size="size-9" />
    <Tailwind size="size-9" />
    <Image
      slot="image"
      class="object-cover shadow-xl rounded-lg md:w-52 md:mb-0"
      src={Changarrito}
      alt="Changarrito FIF UAQ"
    />
  </ProjectCard>

  <!-- ! UAQ - Talleres deportivos -->
  <ProjectCard
    projectTitle="Sistema de talleres deportivos FIF"
    projectDescription="Sistema web que permite al personal del departamento de deportes de la Facultad de Informática UAQ gestionar la información de los alumnos, talleres deportivos y los copas."
  >
    <Next size="size-9" />
    <Prisma size="size-9" />
    <Typescript size="size-9" />
    <Mysql size="size-9" />
    <Tailwind size="size-9" />
    <Image
      slot="image"
      class="object-cover shadow-xl rounded-lg md:w-52 md:mb-0"
      src={Talleres}
      alt="Facultad de Informática UAQ - Talleres deportivos"
    />
  </ProjectCard>

  <!-- ! UAQ - Facultad de Medicina -->
  <ProjectCard
    projectTitle="Sistema administrador de alumnos de intercambio"
    projectDescription="Aplicación web que permite al personal de la Facultad de Medicina UAQ gestionar los datos de los alumnos de intercambio."
  >
    <Laravel size="size-9" />
    <Livewire size="size-9" />
    <Alpine size="size-9" />
    <Mysql size="size-9" />
    <Tailwind size="size-9" />
    <Image
      slot="image"
      class="object-cover shadow-xl rounded-lg md:w-52 md:mb-0"
      src={FMUAQLogo}
      alt="Facultad de Medicina UAQ"
    />
  </ProjectCard>

  <!-- ! ImControl -->
  <ProjectCard
    projectTitle="ImControl"
    projectDescription="Sistema de gestión de campañas publicitarias en redes sociales, que simplifica el seguimiento, el control y la visualización de los datos."
  >
    <Laravel size="size-9" />
    <Alpine size="size-9" />
    <Mysql size="size-9" />
    <Tailwind size="size-9" />
    <Image
      slot="image"
      class="object-contain shadow-xl rounded-lg md:w-52 md:mb-0 bg-[#142c40] p-2"
      src={ImControlLogo}
      alt="ImControl"
    />
  </ProjectCard>
</section>
